::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  font-weight: 300;
}

.trans {
  transition: 0.3s;
}

.f-comfortaa {
  font-family: Comfortaa, serif;
}

.active-menu {
  background: #FFFFFF;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3125rem;
  color: #03A0D1 !important;
}

.btn-primary.bgc-blue:hover {
  background-color: #0092c0;
}

a.c-blue:hover {
  color: #0092c0;
  transition: 0.3s;
}

nav {
  width: 100%;
  min-height: 9.375rem;
  box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7803921569);
  backdrop-filter: blur(10px);
}
@media (max-width: 991px) {
  nav {
    min-height: auto;
    padding: 15px 0;
  }
}
nav .info-block {
  transition: 0.3s;
  overflow: hidden;
  padding: 1rem 0 !important;
}
nav .logo {
  transition: 0.3s;
}
nav .logo img {
  transition: 0.3s;
  width: 200px;
  height: auto;
  margin-left: -40px;
  margin-right: -32px;
}
nav.fixed-nav {
  min-height: 4.375rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.fixed-nav .logo img {
  width: 100px;
  height: auto;
  margin-left: 0;
}
@media (max-width: 576px) {
  nav.fixed-nav .logo img {
    width: 50px;
  }
}
nav.fixed-nav .info-block {
  padding: 0 !important;
  height: 0 !important;
  border: 0 !important;
}

@media (max-width: 1200px) {
  .menu-item {
    width: calc((100% / 12) * 3 - 0rem);
    margin: 0 0 8px 0 !important;
    padding: 0 !important;
  }
  .menu-item.active-menu {
    box-shadow: unset;
  }
}

header {
  width: 100%;
  height: 46.875rem;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: start;
}
@media (max-width: 992px) {
  header {
    justify-content: start;
  }
}
header .header-image {
  width: 50%;
  height: 100%;
  border-radius: 0 0 0 6rem;
  background: url("../images/header-image.jpg") no-repeat center;
  background-size: cover;
}
@media (max-width: 992px) {
  header .header-image {
    width: 100%;
    position: relative;
  }
  header .header-image:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.3);
  }
}
header .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ls-1 {
  letter-spacing: 0.08125rem;
}

.header-info {
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .header-info {
    margin-bottom: -6.875rem;
  }
}
.header-info-body {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  border-radius: 1.25rem;
  padding: 1.3125rem;
}
@media (max-width: 767px) {
  .header-info-body {
    width: calc(100% - 5px);
    margin: 0 auto;
  }
}
.header-info-icon {
  background: linear-gradient(135deg, #03A0D1 0%, #0AB6EC 46.88%, #056B8B 100%);
  border-radius: 10px;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.solid-vertical {
  min-width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.prices-image {
  width: 100%;
  border-radius: 20px;
  position: relative;
}
.prices-image img {
  width: 100%;
  border-radius: 1.25rem;
}
.prices-image:before {
  content: "sdfdsf";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #03a0d1;
  left: 1.25rem;
  top: 1.25rem;
  z-index: -1;
  border-radius: 1.25rem;
}

.bg-sale {
  background: linear-gradient(180deg, rgba(3, 160, 209, 0) 0%, #03A0D1 100%);
  border-radius: 0 0 1.25rem 1.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sale .container {
    max-width: 738px;
  }
}
.sale .container .px-4 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
.sale-percent {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background: linear-gradient(134.27deg, #03A0D1 3.93%, #07B9F1 53.47%, #0088B3 88.59%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  transform: translate(30%, -30%);
}

.reviews-item {
  border-radius: 1.25rem;
  position: relative;
}
.reviews-item:after {
  content: "";
  width: 18px;
  height: 15px;
  background: #03A0D1;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 99%);
}

.vector-site-1 {
  position: absolute;
  top: 258.125rem;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: auto;
}
.vector-site-2 {
  position: absolute;
  top: 299.6875rem;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: auto;
  transform: rotate(-180deg);
}

.after-before {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.after-before-range {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background: transparent;
  z-index: 1000;
  cursor: col-resize;
}
.after-before-range::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
  border: 0 solid #000000;
  height: 33px;
  width: 33px;
  border-radius: 7px;
  background: transparent url(../images/left-right.png) no-repeat center center;
  background-size: 33px 33px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.after-before .before .after-before-text, .after-before .after .after-before-text {
  background: rgba(0, 0, 0, 0.79);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
  font-family: Comfortaa, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.after-before .before .after-before-text.left, .after-before .after .after-before-text.left {
  margin-left: 20px;
}
.after-before .before .after-before-text.right, .after-before .after .after-before-text.right {
  margin-right: 20px;
  position: relative;
  z-index: 1000000;
}
.after-before .before {
  width: 50%;
  height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: 2px solid #fff;
}
.after-before .after {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  background: #03A0D1;
  border: 0;
  border-radius: 50%;
  font-size: 1.5625rem;
  color: #fff;
  top: 38%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 12px #fff;
}
@media (max-width: 576px) {
  .slick-prev, .slick-next {
    width: 30px;
    height: 30px;
  }
}

.slick-next {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: -20px;
}
.slick-dots li {
  margin: 0 3px;
}
.slick-dots li.slick-active button {
  background: #03A0D1;
}
.slick-dots li button {
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 100px;
  font-size: 0;
}

.slick-list {
  padding: 30px 0;
}

.bc-blue {
  border-color: #03A0D1 !important;
}

.modal {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.29);
}
.modal .modal-content {
  border: 0;
}

/*# sourceMappingURL=style.css.map */
